header.header
    section.header__top
        .container
            .row
                a(href="index.html").logo kaspersky
                .currency-menu
                    .row
                        .currency-menu__value GBP
                        .arrow-select
                            img(src="./img/icons/icon_arrow.svg" alt="icon_arrow" width="9.6px" height="6px")
                        .currency-menu__choice
                            button.currency-menu__button GBP
                            button.currency-menu__button USD
                            button.currency-menu__button RUR
    section.header__main
        .container
            .img-wrapper
                img(src="./img/bg/header-bg.png" alt="energizer-pic").header__img--absolute
            h1.header__heading
                span.logo--heading kaspersky 
                span.logo--energizer
                    span.amp &amp; 
                    | Energizer
            article.header__article
                h3.article__heading
                    | Enjoy 20$ free and save up to 60%
                    br
                    | on your online security
                p.header__text Whatever you need to protect – your PC 
                    span.amp &amp;
                    nbsp
                    | mobile devices or your family’s entire digital world – we’ve got the security solutions you need. Our premium solutions are all Android compatible to make sure your mobile is as safe as your PC or laptops. 
                p.header__text Select the solution that fits best your needs, click on “Buy now”, fill in your personal code received by email in the cart, your discount will apply.

                a(href="#!").link--green Terms &amp; Conditions

    section.poduct-cards
        .container
            .poduct-card
                .poduct-card__top
                    .poduct-card__heading
                        .row.align-left
                            .card__img-wrapper
                                img(src="./img/icons/icon_internet_security_for_windows.svg" alt="internet_security_for_windows" width="70px")
                            .card__title
                                .card__title--logo Kaspersky
                                p Internet Security
                                .row.align-left
                                    .card__img-wrapper.stars-wrapper
                                        img(src="./img/icons/icon_star.svg" alt="stars" width="100px")
                                    p.card__reviews (1503 reviews)
                    .poduct-card__description
                        .row.align-left.align-top
                            .card__img-wrapper
                                img(src="./img/icons/icon_check.svg" alt="icon_check" width="30px")
                            p.poduct-card__text Advanced antivirus &amp; privacy protection for PC, Mac &amp; Mobile
                        .row.align-left.align-top
                            .card__img-wrapper
                                img(src="./img/icons/icon_check.svg" alt="icon_check" width="30px")
                            p.poduct-card__text Includes Webcam Protection, Safe Money Browser &amp; free VPN







