header.header
    section.header__top
        .container
            .row
                a(href="index.html").logo kaspersky
                .currency-menu
                    .row
                        .currency-menu__value GBP
                        .arrow-select
                            img(src="./img/icons/icon_arrow.svg" alt="icon_arrow" width="9.6px" height="6px")
                        .currency-menu__choice
                            button.currency-menu__button GBP
                            button.currency-menu__button USD
                            button.currency-menu__button EUR
                            button.currency-menu__button RUR
    section.header__main
        .container
            .img-wrapper
                img(src="./img/bg/header-bg.png" alt="energizer-pic").header__img--absolute
            h1.header__heading
                span.logo--heading kaspersky 
                span.logo--energizer
                    span.logo--amp &amp; 
                    | Energizer
                    span.logo--reg
                        sub &reg;
            article.header__article
                h3.article__heading
                    | Enjoy 20$ free and save up to 60%
                    br
                    | on your online security
                p.header__text Whatever you need to protect – your PC 
                    span.amp &amp;
                    nbsp
                    | mobile devices or your family’s entire digital world – we’ve got the security solutions you need. Our premium solutions are all Android compatible to make sure your mobile is as safe as your PC or laptops. 
                p.header__text Select the solution that fits best your needs, click on “Buy now”, fill in your personal code received by email in the cart, your discount will apply.

                a(href="#!").link--green Terms &amp; Conditions

    section.poduct-cards
        .container
            .poduct-card
                .poduct-card__top
                    .poduct-card__heading
                        .row.align-left
                            +card-icon('icon_internet_security_for_windows.svg', '70px')
                            +card-title
                                | Internet Security
                    .poduct-card__description
                        +card-desc
                            | Advanced antivirus &amp; privacy protection for PC, Mac &amp; Mobile
                        +card-desc
                            | Includes Webcam Protection, Safe Money Browser &amp; free VPN
                    .user-count
                        p.user-count__text 2 User accounts 
                        .tip-icon
                            img(src="./img/icons/icon_info.svg" alt="icon_info")
                            p.tip-text Lorem ipsum dolor sit amet, consectetur elit adipiscing elit elit elit. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur.
                                
                .poduct-card__bottom
