header.header
    section.header__top
        .container
            .row
                a(href="https://www.kaspersky.ru/" target="_blank").logo kaspersky
                .currency-menu
                    .row
                        .currency-menu__value GBP
                        .arrow-select
                            img(src="./img/icons/icon_arrow.svg" alt="icon_arrow" width="9.6px" height="6px")
                        ul.currency-menu__list
                            li.currency-menu__item GBP
                            li.currency-menu__item USD
                            li.currency-menu__item EUR
                            li.currency-menu__item RUR
    section.header__main
        .container
            .img-wrapper
                img(src="./img/bg/header-bg.png" alt="energizer-pic").header__img--absolute
            h1.header__heading
                span.logo--heading kaspersky 
                span.logo--energizer
                    span.logo--amp &amp; 
                    | Energizer
                    span.logo--reg
                        sub &reg;
            article.header__article
                h3.article__heading
                    | Enjoy 20$ free and save up to 60%
                    br
                    | on your online security
                p.header__text Whatever you need to protect – your PC 
                    span.amp &amp;
                    nbsp
                    | mobile devices or your family’s entire digital world – we’ve got the security solutions you need. Our premium solutions are all Android compatible to make sure your mobile is as safe as your PC or laptops. 
                p.header__text Select the solution that fits best your needs, click on “Buy now”, fill in your personal code received by email in the cart, your discount will apply.

                a(href="#!").link--green Terms &amp; Conditions

    section.poduct-cards
        .container
            .row.align-center
                .poduct-card
                    .poduct-card__top
                        .poduct-card__heading
                            .row.align-left
                                +card-icon('icon_internet_security_for_windows.svg', '70px')
                                +card-title
                                    | Internet Security
                        .poduct-card__description
                            +card-description
                                | Advanced antivirus &amp; privacy protection for PC, Mac &amp; Mobile
                            +card-description
                                | Includes Webcam Protection, Safe Money Browser &amp; free VPN
                        +card-user-count(2)
                    .poduct-card__bottom.text--center
                        +card-plan-list
                        .poduct-card__prises
                            p.card__text--small.card__text--margin Protect more devices
                            .poduct-card__discount-value
                            .row.align-center.poduct-card__prise--disabled
                                .prise--disabled
                                +card-tool-tip
                                    | Lorem ipsum dolor sit amet, consectetur elit adipiscing elit elit elit. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur.
                            .row.align-center.align-top.poduct-card__prise--chosen
                        button.button__buy Buy now
                        .row.align-center.checkbox-wrapper
                            input(type="checkbox" checked).poduct-card__checkbox.checkbox--checked
                            label.row.align-center.card__checkbox-lable
                                p.card__text--small Auto Renewal
                                +card-tool-tip
                                    | Lorem ipsum dolor sit amet, consectetur elit adipiscing elit elit elit. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur.
                .poduct-card
                    .poduct-card__top
                        .poduct-card__heading
                            .row.align-left
                                +card-icon('icon_internet_security_for_windows.svg', '70px')
                                +card-title
                                    | Internet Security
                        .poduct-card__description
                            +card-description
                                | Advanced antivirus &amp; privacy protection for PC, Mac &amp; Mobile
                            +card-description
                                | Includes Webcam Protection, Safe Money Browser &amp; free VPN
                        +card-user-count(2)
                    .poduct-card__bottom.text--center
                        +card-plan-list
                        .poduct-card__prises
                            p.card__text--small.card__text--margin Protect more devices
                            .poduct-card__discount-value
                            .row.align-center.poduct-card__prise--disabled
                                .prise--disabled
                                +card-tool-tip
                                    | Lorem ipsum dolor sit amet, consectetur elit adipiscing elit elit elit. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur.
                            .row.align-center.align-top.poduct-card__prise--chosen
                        button.button__buy Buy now
                        .row.align-center.checkbox-wrapper
                            input(type="checkbox" checked).poduct-card__checkbox.checkbox--checked
                            label.row.align-center.card__checkbox-lable
                                p.card__text--small Auto Renewal
                                +card-tool-tip
                                    | Lorem ipsum dolor sit amet, consectetur elit adipiscing elit elit elit. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur.