// Блок с карочками
.poduct-cards
    .container
        .row.align-center.poduct-card__wrapper
            // Карточка товара
            .poduct-card
                // Верхняя часть карточки
                .poduct-card__top
                    .poduct-card__heading
                        .row.align-left
                            +card-icon('icon_internet_security_for_windows.svg', '70')
                            +card-title
                                | Internet Security
                    .poduct-card__description
                        +card-description
                            | Advanced antivirus &amp; privacy protection for PC, Mac &amp; Mobile
                        +card-description
                            | Includes Webcam Protection, Safe Money Browser &amp; free VPN
                    +card-user-count(2)
                // Нижняя часть карточки
                .poduct-card__bottom.text--center
                    // Выпадающий список
                    +card-plan-list
                    // Расчёт цены
                    .poduct-card__prises
                        p.card__text--small.card__text--margin Protect more devices
                        .poduct-card__discount-value
                        .row.align-center.poduct-card__prise--disabled
                            .prise--disabled
                            +card-tool-tip
                                | Lorem ipsum dolor sit amet, consectetur elit adipiscing elit elit elit. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur.
                        .row.align-center.align-top.poduct-card__prise--chosen
                    button.button__buy Buy now
                    // Чек-бокс в карточке товара
                    .row.align-center.checkbox-wrapper
                        input(type="checkbox" checked).poduct-card__checkbox.checkbox--checked
                        label.row.align-center.card__checkbox-lable.card__text--small
                            | Auto Renewal
                        +card-tool-tip
                            | Lorem ipsum dolor sit amet, consectetur elit adipiscing elit elit elit. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur.
            // Карточка товара
            .poduct-card.poduct-card--best-choice
                // Верхняя часть карточки
                .poduct-card__top
                    .poduct-card__heading
                        .row.align-left
                            +card-icon('icon_total_security.svg', '70')
                            +card-title
                                | Total Security
                    .poduct-card__description
                        +card-description
                            | Complete security &amp; privacy suite for PC, Mac &amp; Mobile
                        +card-description
                            | Includes Kaspersky Password Manager &amp; Kaspersky Safe Kids
                    +card-user-count(2)
                // Нижняя часть карточки
                .poduct-card__bottom.text--center
                    // Выпадающий список
                    +card-plan-list
                    // Расчёт цены
                    .poduct-card__prises
                        p.card__text--small.card__text--margin Protect more devices
                        .poduct-card__discount-value
                        .row.align-center.poduct-card__prise--disabled
                            .prise--disabled
                            +card-tool-tip
                                | Lorem ipsum dolor sit amet, consectetur elit adipiscing elit elit elit. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur.
                        .row.align-center.align-top.poduct-card__prise--chosen
                    button.button__buy Buy now
                    // Чек-бокс в карточке товара
                    .row.align-center.checkbox-wrapper
                        input(type="checkbox" checked).poduct-card__checkbox.checkbox--checked
                        label.row.align-center.card__checkbox-lable.card__text--small
                            | Auto Renewal
                        +card-tool-tip
                            | Lorem ipsum dolor sit amet, consectetur elit adipiscing elit elit elit. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur.
            // Карточка товара
            .poduct-card
                // Верхняя часть карточки
                .poduct-card__top
                    .poduct-card__heading
                        .row.align-left
                            +card-icon('icon_cloud.svg', '70')
                            +card-title
                                | Security Cloud
                    .poduct-card__description
                        +card-description
                            | Check your online accounts for data leaks
                        +card-description
                            | Monitor your home Wi-Fi for intruders
                    +card-user-count(2)
                // Нижняя часть карточки
                .poduct-card__bottom.text--center
                    // Выпадающий список
                    +card-plan-list
                    // Расчёт цены
                    .poduct-card__prises
                        p.card__text--small.card__text--margin Protect more devices
                        .poduct-card__discount-value
                        .row.align-center.poduct-card__prise--disabled
                            .prise--disabled
                            +card-tool-tip
                                | Lorem ipsum dolor sit amet, consectetur elit adipiscing elit elit elit. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur.
                        .row.align-center.align-top.poduct-card__prise--chosen
                    button.button__buy Buy now
                    // Чек-бокс в карточке товара
                    .row.align-center.checkbox-wrapper
                        input(type="checkbox" checked).poduct-card__checkbox.checkbox--checked
                        label.row.align-center.card__checkbox-lable.card__text--small
                            | Auto Renewal
                        +card-tool-tip
                            | Lorem ipsum dolor sit amet, consectetur elit adipiscing elit elit elit. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur.