.poduct-card {
  width: 350px;
  height: 746px;
  box-shadow: 0px 8.48242px 25.4473px rgba(29, 29, 27, 0.24);
  border-radius: 4.24121px;

  color: #1d1d1b;
}
.poduct-card__top {
  padding: 25px 15px;
}

.poduct-card__heading {
  margin-bottom: 30px;
}

.card__img-wrapper {
  margin-right: 15px;
}

.stars-wrapper {
  margin-right: 8px;
}

.card__title {
  font-size: 25px;
  font-weight: 700;
}

.card__title--logo {
  padding: 7px 0 7px 0;
  font-size: 18px;
  font-weight: 700;
}

.card__reviews {
  font-size: 14px;
}

.poduct-card__text {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 24px;
  color: #444;
}

.user-count {
  color: #666666;
  font-weight: 300;
  display: flex;
}

.user-count__text {
  margin-right: 4px;
}

.tip-icon {
  position: relative;

  &:hover .tip-text {
    display: block;
  }
}

.tip-text {
  display: none;
  position: absolute;
  top: -178%;
  left: 166%;
  padding: 16px;
  width: 368px;
  background-color: #fff;
  box-shadow: 0px 10px 20px #5c85963d;
  border-radius: 4px;
  color: #1d1d1b;

  //- Треугольник
  &::after {
    content: "";
    position: absolute;
    right: 99.5%;
    bottom: 28%;
    border: 18px solid transparent;
    border-right: 18px solid #fff;
    border-radius: 4px;
  }
}

.poduct-card__bottom {
  padding: 14px 19px;
  background-color: #f2f2f2;
}
