.header__main {
  padding: 35px 0 214px 0;
  overflow: hidden;
  border-top: 1px solid #f2f2f2;
}

.header__heading {
  margin-bottom: 35px;
}

.header__img {
  position: absolute;
  z-index: -2;
}

.img-wrapper {
  position: relative;
}

.header__img--absolute {
  position: absolute;
  top: -106px;
  right: -430px;
  z-index: -2;
}

.logo--heading {
  font-family: "Casper";
  font-size: 60.5px;
  font-weight: 700;
  color: #00a88e;
}

.logo--amp {
  font-style: normal;
}

.logo--energizer {
  position: relative;
  font-family: "Kaspersky Sans";

  color: #282422;
  font-size: 50.5px;
  font-weight: 700;
  font-style: italic;
}

.logo--reg {
  position: absolute;
  bottom: 2px;
  right: -2px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.header__text {
  margin-bottom: 35px;
  font-size: 21px;
  letter-spacing: -0.2px;
  font-weight: 300;

  &:last-of-type {
    margin-bottom: 40px;
  }
}
