.header__top {
  padding: 20px 0 20px 0;
}

.currency-menu {
  position: relative;
  padding: 10px 0 10px 0;
  font-size: 14px;
  font-weight: 700;

  &:hover {
    cursor: pointer;
    .currency-menu__list {
      display: flex;
    }
  }
}

.currency-menu__value {
  margin-right: 8px;
  width: 28px;
}

.currency-menu__list {
  display: none;
  align-items: center;
  position: absolute;
  left: -158px;
  width: 158px;
}

.currency-menu__item {
  position: relative;
  padding: 5px;
  color: #444444;
  font-size: 14px;
  font-family: "Kaspersky Sans";
  transition: all 0.2s ease-in;

  &::after {
    content: "";
    display: none;
    position: absolute;
    bottom: 0;
    left: 4px;
    width: 30px;
    height: 3px;
    background-color: #00a88e;
  }

  &:hover::after {
    display: block;
  }
}
