.menu-plan__wrapper {
  position: relative;
  margin-bottom: 10px;
  padding: 14px 12px;
  padding-right: 18px;
  width: 312px;
  background-color: #fff;
  border: 1.5px solid #cccccc;
  border-bottom: 2px solid rgb(35, 209, 174);
  cursor: pointer;
}

.menu-plan__list {
  display: none;
  position: absolute;
  left: -1.5px;
  top: 100%;
  -webkit-box-shadow: 0px 7px 15px -1px rgba(35, 209, 174, 0.5);
  -moz-box-shadow: 0px 7px 15px -1px rgba(35, 209, 174, 0.5);
  box-shadow: 0px 7px 15px -1px rgba(35, 209, 174, 0.5);
  z-index: 2;
}

.menu-plan__text {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #1d1d1b;
}

.menu-plan__list-item {
  padding: 14px 12px;
  width: 312px;
  border-bottom: 1.5px solid #cccccc;
  background-color: #fff;
  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: darken($color: #fff, $amount: 3%);
  }

  &:first-child {
    margin-top: 2px;
  }

  &:last-child {
    border: none;
  }
}

.menu-plan__name {
  margin-right: 92px;
  width: 119px;
}

.list--active {
  display: block;
}
