include ./card-tool-tip.pug

mixin card-user-count(count)
    .user-count
        p.user-count__text #{count} 
            | User accounts
        +card-tool-tip
            | Lorem ipsum dolor sit amet, consectetur elit adipiscing elit elit elit. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur.