mixin card-desc(img="icon_check.svg", width="30px")
    .row.align-left.align-top
        .card__img-wrapper
            img(src="./img/icons/"+img alt=img width= width)
        p.poduct-card__text
            block