include ./mixins.pug

block variables

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet" href="css/main.css")
        //-Подключение шрифтов
        link(rel="stylesheet" href="libs/fonts/casper/casper.css")
        link(rel="stylesheet" href="libs/fonts/kaspersky-sans/ks.css")
        link(rel="shortcut icon" href="./img/icons/favicon.ico" type="image/x-icon")
    body
        block content

        script(src="js/main.js")
