.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-left {
  justify-content: flex-start;
}

.align-right {
  justify-content: flex-end;
}

.align-center {
  justify-content: center;
}

.align-top {
  align-items: flex-start;
}

.align-bottom {
  align-items: flex-end;
}

.no-mouse-event {
  pointer-events: none;
}

.text--center {
  text-align: center;
}

.text--left {
  text-align: left;
}

.margin--center {
  margin: 0 auto;
}
